<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="TicketDBConnectionString" connectionString="Data Source=buscissql\cisweb;Initial Catalog=TicketDB;Persist Security Info=True;User ID=cmh;Password=cbt" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
